@import "../../styles/styles.scss";
.ProductHeader {
  border-bottom: 2px solid theme-color("background", "dark");
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  &__image {
    width: 100%;
    height: auto;
  }
  &__name {
    color: theme-color("primary", "base");
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__price {
    font-weight: 700;
    @include text-setting("md");
  }
  &__price-label {
    font-weight: 400;
    @include text-setting("sm");
    color: theme-color("background", "dark");
  }
}
