@import "../../styles/styles.scss";

.ComparePage {
  position: relative;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  border-bottom: 5px solid theme-color("primary", "base");

  &__comparison-table {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;

    table {
      border-collapse: collapse;
      table-layout: fixed;
      border-spacing: 0;
      border-top: 2px solid theme-color("background", "dark");

      padding-bottom: 2rem;
      text-align: left;

      thead {
        tr {
          th {
            width: 20rem;
            padding: 1rem;
            margin: 0;
            width: 20rem;
            border-top-width: 0px;
            vertical-align: top;
            font-weight: 400;

            // first column of thead
            &:first-child {
              border-right: 2px solid theme-color("background", "dark");
              padding-top: 2rem;
            }
          }
          // only first row
          &::first-child {
            height: 20rem;
            th {
            }
          }
        }
      }

      tbody {
        tr {
          border-top: 2px solid theme-color("background", "dark");
          td {
            padding: 0.5rem 1rem;
            margin: 0;
            font-weight: 700;

            // first column of tbody
            &:first-child {
              border-right: 2px solid theme-color("background", "dark");
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
