@import "./styles/styles.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

// Global styling for typography
body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme-color("primary", "dark");
}

h1 {
  color: theme-color("primary", "base");
  font-weight: 700;
  @include text-setting("xl");
}
