@import "../../styles/styles.scss";

.ProductSelection {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  legend {
    color: theme-color("primary", "base");
    @include text-setting("lg");
    margin: 1rem 0;
  }
}

.ProductSelectionCheckbox {
  margin-bottom: 1rem;
}
